BANCO_HOST=seu-host-da-aiven
BANCO_PORTA=22556
BANCO_USUARIO=avnadmin
BANCO_SENHA=sua-senha-da-aiven
BANCO_NOME=defaultdb
BANCO_SSL_MODE=REQUIRED
BANCO_CRIAR_BANCO=false
CHAVE_SECRETA=troque-por-uma-chave-grande-e-aleatoria
